

$grey_color: #777777;
$black_color: #000000;

header{
  background-color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  box-shadow: 0 -5px 5px -5px #bcbfbf inset;

  .container{
    max-width: 1130px;
    margin: auto;
    &.d-flex{
      justify-content: space-between;
      display: flex;
      nav{
        margin-top: 11px;
        ul{
          display: flex;
          list-style: none;
          text-transform: uppercase;
          font-weight: bold;
          li{
            margin-left: 24px;
            &:hover:before{
              background-color: $black_color ;
              width: 20px;
            }
            &:before{
              content: "";
              width:0;
              display: block;
              height: 1px;
              position: relative;
              top: 10px;
              right: 19px;
              transition: 0.5s;
            }


            a{
              color: $grey_color;
              font-size: 14px;
              padding: 0 10px;
              text-decoration: none;
              font-family: 'Roboto-Bold';
              transition: 0.5s;
              &:hover{
                color: $black_color;  }
            }
          }
          .search{

            margin-left: 45px;
            i{
              font-size: 13px;
              color:$grey_color;
              transition: 0.5s;
              &:hover{
                color:$black_color;}
            }
          }


        }
      }

    }
  }

}



