@media only screen and (max-width: 1024px) {
  header{
    padding: 25px;
  }
  .banner .banner_block .banner_text{
    left: 20px;
  }

}
@media only screen and (max-width: 992px) {
  .banner .banner_block .banner_text h3{
    font-size: 32px;
    max-width: 420px;
    margin-bottom: 20px;
  }
  .banner .banner_block .banner_text h4{
    font-size: 15px;
    letter-spacing: 5px;
  }
}
@media only screen and (max-width: 767px) {
  header {
    text-align: center !important;

    .container.d-flex {
      display: inline-block !important;
      justify-content: center !important;

      img {
        padding-bottom: 20px;
      }

      nav {
        ul {
          li {
            margin-left: 0 !important;

            a {
              padding: 0 5px;
            }
          }

          .search {
            margin-left: 5px !important;
          }
        }
      }
    }


    .galeray {
      flex-wrap: wrap;
      justify-content: center !important;


    }

    .soc_icon ul {
      justify-content: space-around !important;

    }
  }
  .banner .banner_block .banner_text h3{
    font-size: 20px;
    max-width: 250px;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  .banner .banner_block .banner_text h4{
    font-size: 8px;
    letter-spacing: 6px;
  }
}
@media only screen and (max-width: 420px) {
  .banner .banner_block .banner_text h3{
    font-size: 10px;
    max-width: 150px;
    margin-bottom: 10px;
  }
  .banner .banner_block .banner_text h4{
    font-size: 5px;
    letter-spacing: 4px;
  }

}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 360px) {
  .container.d-flex{
    nav{
      ul{
        flex-direction: column;
      }
    }

  }
}
@media only screen and (max-width: 320px) {

}